@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-text-primary: #444452;
  --color-text-accent: #007bff;
  --color-selection: #ffdc00;
  --color-underline: #007bff;
  --color-toggle-on: #bae67e;
  --color-toggle-off: #808080;
  --font-sans: var(--font-apercu), sans-serif;
}

.dark {
  --color-bg: #171c28;
  --color-text-primary: #e7e7e7;
  --color-text-accent: #007bff;
  --color-selection: #ffdc00;
  --color-underline: #007bff;
  --color-toggle-on: #bae67e;
  --color-toggle-off: #808080;
}

@theme inline {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text-primary);
  --color-primary: var(--color-text-primary);
  --color-accent: var(--color-text-accent);
  --color-underline: var(--color-underline);
  --color-toggle-on: var(--color-toggle-on);
  --color-toggle-off: var(--color-toggle-off);
  --font-sans: var(--font-sans);
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-sans);
}

::selection {
  background: var(--color-selection);
  color: var(--color-text-primary);
}

.dark ::selection {
  color: #444452;
}
